//Colors
$primary: #fcf1d5;
$secondaryDark : #3f3d4b;
$secondaryMedium : #68677D;
$backgroundColor : #32303B;

//Radius
$circleRadius: 10rem;
$largeRadius: 2rem;
$mediumRadius: 1rem;
$smallRadius: 0.5rem;

//Borders
$defaultBorder: $primary solid 2px;
$translucentBorder: rgba($primary, 0.2) solid 3px;