//Colors
$darkBlueGrey : #3f3d4b;
$test : #32303b;
$mediumBlueGrey : #68677D;
$sand: #fcf1d5;

//Radius
$circleRadius: 10rem;
$largeRadius: 2rem;
$mediumRadius: 1rem;
$smallRadius: 0.5rem;

//Borders
$defaultBorder: $sand solid 2px;
$translucentBorder: rgba($sand, 0.2) solid 3px;