.customButton {
  border: $primary solid 3px;
  padding: 1rem 2rem;
  background-color: transparent;
  border-radius: $smallRadius;
  color: $primary;
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    background-color: $primary;
    color: $secondaryDark;
    cursor: pointer;
  }
}