.customInput {
  height: 2.5rem;
  background-color: $secondaryDark;
  border: $translucentBorder;
  border-radius: $smallRadius;
  color: $primary;
  height: 2rem;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1.2rem;

  &:focus {
    border-color: $primary;
    border-width: 3px;
  }
}