.mainContainer {
  font-family: inherit;
  width: 100%;
  color: $primary;
  margin-bottom: 10rem;
  user-select: none;
  padding: 1rem;

  //TABLE HEADER
  .tableHeader {
    padding: 0 0 1rem 0;
    color: $primary;

    select {
      background-color: transparent;
      padding: 0.2rem;
      font-size: 1rem;

      &:focus {
        outline: 2px solid $primary
      }
    }

    option {
      background-color: $secondaryDark;
    }

    input {
      background-color: transparent;

      &:focus {
        outline: 2px solid $primary;
      }
    }

    .search input {
      margin-top: 0.5rem;
      font-size: 1rem;
    }
  }

  //TABLE
  .table {
    color: $primary;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;

    table {
      border-collapse: initial;
    }

    .table-tr {
      box-sizing: border-box;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      background-color: transparent;

      &:hover .table-td {
        background-color: darken($secondaryDark, 5%);
      }
    }

    .table-th {
      box-shadow: none;
      background: transparent;
      border-color: transparent;
      color: $primary;
      padding: 0;

      .table-th-content {
        padding: 0 0.5rem 0 0.5rem;
      }

      .table-th-sortIcons {
        margin-left: 0.5rem;

        button {
          font-size: 0.6rem;

          &.sortIcon--active {
            color: $primary;
            font-size: 0.6rem;
          }
        }

      }
    }

    .table-th-9 {
      width: 110px;
    }

    .table-td {
      background-color: $secondaryDark;
      border: 2px solid #32303B;
      user-select: text;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }

  //TABLE FOOTER
  .tableFooter {
    margin-top: 1rem;
    padding: 0;
    gap: 1;
    flex-wrap: wrap;
    color: $primary;

    .pagination {
      min-width: auto;

      button {
        background-color: $secondaryDark;
        user-select: none;

        &.currentPage {
          background-color: $primary;
          color: $secondaryDark;
        }

        &[disabled] {
          color: $backgroundColor;

          &:hover {
            border: none;
          }
        }

        &:hover {
          border: 3px solid $primary;
        }
      }
    }

    .entriesDisplayer {
      user-select: text;
    }
  }

  //NO DATA MESSAGE
  .noDataMsg {
    border: $translucentBorder;
    background-color: $secondaryDark;
  }
}


@media all and (min-width: 426px) {
  .mainContainer {
    width: 90%;
    padding: 0;
    margin-top: 2rem;
  }
}

@media all and (min-width: 768px) {
  .mainContainer {
    margin-top: 3rem;

    .tableHeader {
      padding: 0rem;
      margin-bottom: 2rem;
    }

    .table .table-th {
      padding-bottom: 0.5rem;
    }

    .table .table-td {
      padding: 0.8rem;
    }
  }
}

// Clear "x" in search input
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}