.customInput {
  display: flex;
  flex-direction: column;
  & input {
    font-size: 1.2rem;
    background-color: $darkBlueGrey;
    border-radius: $smallRadius;
    border: inherit;
    border: $translucentBorder;
    height: 2.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: $sand;
    &:focus {
      outline-color: $sand;
      outline-width: 1px;
      outline-style: solid;  
    }
  }
}

//Hide input number buttons
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}