.mainContainer {
  margin-top: 2rem;
  font-family: inherit;
  width: 100%;
  color: $sand;
  margin-bottom: 10rem;
  user-select: none;

  //TABLE HEADER
  .tableHeader {
    padding: 1rem;

    select {
      background-color: transparent;
      padding: 0.2rem;
      font-size: 1rem;
    }

    option {
      background-color: $darkBlueGrey;
    }

    input {
      background-color: transparent;
    }

    .search input {
      font-size: 1rem;

      &::-webkit-search-decoration {
        display: none;
      }
    }
  }

  //TABLE
  .table {
    color: $sand;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .table-tr {
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      &:hover .table-td {
        background-color: darken($darkBlueGrey, 5%);
      }
    }

    .table-th {
      box-shadow: none;
      background: transparent;
      border-color: transparent;
      color: $sand;
      padding: 0.5rem;

      .table-th-sortIcons button {
        font-size: 0.6rem;
      }

      .table-th-sortIcons button.sortIcon--active {
        color: $sand;
        font-size: 0.6rem;
      }
    }

    .table-td {
      background-color: $darkBlueGrey;
      border: 3px solid $lightBlueGrey;
      user-select: text;
      padding: 0.5rem;
    }
  }

  //TABLE FOOTER
  .tableFooter {
    margin-top: 1rem;

    .pagination button {
      background-color: $darkBlueGrey;
      user-select: none;

      &.currentPage {
        background-color: $sand;
        color: $darkBlueGrey;
      }

      &[disabled] {
        color: $lightBlueGrey;
      }

      &:hover {
        border: 3px solid $sand;
      }
    }

    .entriesDisplayer {
      user-select: text;
    }
  }

  //NO DATA MESSAGE
  .noDataMsg {
    border: 3px solid $lightBlueGrey;
    background-color: $darkBlueGrey;
  }
}


@media all and (min-width: 426px) {
  .mainContainer {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .mainContainer {
    width: 100%;

    .tableHeader {
      padding: 0rem;
      margin-bottom: 1rem;
    }

    .table .table-td {
      padding: 1rem;
    }

    .table .table-th {
      padding: 1rem;
    }
  }
}