.tableWrapper {
  background: $darkBlueGrey;
  padding: 2rem 3rem;
  border-radius: $mediumRadius;
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2);
  margin-top: 2rem;
  & .table {
    border-collapse: collapse;
    text-align: center;
    background: $darkBlueGrey;
    & td {
      border: #646167 solid 3px;
      border-collapse: collapse;
    }
    & td, th {
      padding: 1rem;
    }
    & tbody tr:nth-child(odd) {
        background: darken($darkBlueGrey, 5%);
    }
  }
}