.mainContainer {
  font-family: inherit;
  width: 100%;
  color: $sand;
  margin-bottom: 10rem;
  user-select: none;
  padding: 1rem;

  //TABLE HEADER
  .tableHeader {
    padding: 0 0 1rem 0;

    select {
      background-color: transparent;
      padding: 0.2rem;
      font-size: 1rem;

      &:focus {
        outline: 2px solid $sand
      }
    }

    option {
      background-color: $darkBlueGrey;
    }

    input {
      background-color: transparent;

      &:focus {
        outline: 2px solid $sand;
      }
    }

    .search input {
      margin-top: 0.5rem;
      font-size: 1rem;
    }
  }

  //TABLE
  .table {
    color: $sand;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .table-tr {
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      &:hover .table-td {
        background-color: darken($darkBlueGrey, 5%);
      }
    }

    .table-th {
      box-shadow: none;
      background: transparent;
      border-color: transparent;
      color: $sand;
      padding: 0.5rem;

      .table-th-sortIcons {
        margin-left: 0.5rem;

        button {
          font-size: 0.6rem;

          &.sortIcon--active {
            color: $sand;
            font-size: 0.6rem;
          }
        }

      }
    }

    .table-th-9 {
      max-width: 100px;
    }

    .table-td {
      background-color: $darkBlueGrey;
      border: 3px solid $lightBlueGrey;
      user-select: text;
      padding: 0.5rem;
    }
  }

  //TABLE FOOTER
  .tableFooter {
    margin-top: 1rem;
    padding: 0;
    gap: 1;
    flex-wrap: wrap;

    .pagination {
      button {
        background-color: $darkBlueGrey;
        user-select: none;

        &.currentPage {
          background-color: $sand;
          color: $darkBlueGrey;
        }

        &[disabled] {
          color: $lightBlueGrey;
        }

        &:hover {
          border: 3px solid $sand;
        }
      }
    }

    .entriesDisplayer {
      user-select: text;
    }
  }

  //NO DATA MESSAGE
  .noDataMsg {
    border: 3px solid $lightBlueGrey;
    background-color: $darkBlueGrey;
  }
}


@media all and (min-width: 426px) {
  .mainContainer {
    width: 90%;
    padding: 0;
    margin-top: 2rem;
  }
}

@media all and (min-width: 768px) {
  .mainContainer {
    margin-top: 3rem;

    .tableHeader {
      padding: 0rem;
      margin-bottom: 1rem;
    }

    .table .table-td {
      padding: 1rem;
    }

    .table .table-th {
      padding: 1rem;
    }
  }
}

// Clear "x" in search input
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}