.formField {
  position: relative;
  margin-bottom: 1.5rem;
  & input, select {
    width: 100%;
    height: 2.5rem;
    margin-top: 0.5rem;
  }
  & select {
    cursor: pointer;
  }
  & .errorMsg {
    color: rgb(255, 0, 0);
  }
}

//Hide input number buttons
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

